<app-screen
    >
    <div class="d-flex justify-content-around">
        <app-item
        [child]="''"
        [parent]="''"
        [class]="'m-item'"
        ></app-item>
        <app-item
        [child]="'manage'"
        [parent]="'users'"
        [class]="'m-item'"
        ></app-item>
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item'"
        ></app-item>
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item'"
        ></app-item>
      </div>
      <div class="d-flex justify-content-around">
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item nope'"
        ></app-item>
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item nope'"
        ></app-item>
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item nope'"
        ></app-item>
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item nope'"
        ></app-item>
      </div>
</app-screen>
  