<app-screen
[imageName]="'users.JPG'"
    >
    <div class="d-flex">
        <app-item
        [child]="''"
        [parent]="''"
        [class]="'m-item'"
        ></app-item>
        <app-item
        [child]="'manage'"
        [parent]="'users'"
        [class]="'m-item'"
        ></app-item>
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item'"
        ></app-item>
        <app-item
        [child]="'test'"
        [parent]="'users/manage'"
        [class]="'m-item'"
        ></app-item>
      </div>
</app-screen>
  