.m-item:hover{
    cursor: pointer;
    box-shadow: none;
    border: 2px solid greenyellow;
    opacity: 1;
    height: 50px;
}
.m-item{
    display: inline-block;
    opacity: 1;
    height: 2.75vh;
    width: 3.6vw;
    margin-top: .5vh;
    padding-top: 95%;
}
.user:hover{
    cursor: pointer;
    background-color: blue;
    color: White;
}
.userSelection:hover{
    cursor: pointer;
    background-color: lightblue;
    color: White;
}