<img src="../assets/images/ta200p.png" style="width: 100%;"> 
<div style="position: absolute; width: 100px; height: 175px; top: 20%; left: 75%;" class="finger">
    <div class="scanner" style="position: absolute; width: 50px; height: 25%; top: 25%; left: 35%;" (click)="Scanner()"></div>
    </div>
<div style=" display:relative;">
    <div style="background-image: url({{imageName}}); background-repeat: no-repeat; background-size: 310px 230px;" class="selectiongrid">
        <ng-content style="position: absolute;" ></ng-content>
    </div>
    <div class="yellow" onclick="location.href='./'"></div>
</div>
