.yellow:hover{
    cursor: pointer;
    border: 1px solid yellowgreen;
}
.selectiongrid{
    position: absolute;
    top: 28%;
    left: 22%;
    width: 308px;
    height: 225px;
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.yellow{
    position: absolute;
    top: 63%;
    left: 47.5%;
    width: 8%;
    height: 4%;
    border: 1px solid yellowgreen;
}
.finger:hover{
    cursor: URL('../../../assets/images/fingertip.png'), auto;
}
