.yellow:hover{
    cursor: pointer;
    border: 1px solid yellowgreen;
}
.selectiongrid{
    position: absolute;
    top: 28%;
    left: 22.25%;
    width: 300px;
    height: 235px;
    text-align: center;
    font-size: 10px;
}
.yellow{
    position: absolute;
    top: 63%;
    left: 48.75%;
    width: 7%;
    height: 4%;
    border: 1px solid yellowgreen;
}
// @media only screen and (max-width: 1250px){
//     .selectiongrid{
//         left: 24.25%;
//     }
//     .yellow{
//         width: 6%;
//     }
// }
