<app-screen [imageName]="'main.JPG'" style="position: fixed;">
  <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 2fr;" class="w-100 h-100">
    <div 
      style="
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;" 
      class="w-100 h-50">
      <app-item class="m-item" child="users"></app-item>
      <app-item class="m-item" child="comm"></app-item>
      <app-item class="m-item nope"></app-item>
      <app-item class="m-item nope"></app-item>
    </div>
    <div style="
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;" 
      class="w-100 h-50">
      <app-item class="m-item nope"></app-item>
      <app-item class="m-item nope"></app-item>
      <app-item class="m-item nope"></app-item>
      <app-item class="m-item nope"></app-item>
    </div>
  </div>
</app-screen>
<!-- <a href="http://localhost:4200/ftwebster" target="_blank">test</a> -->
<button (click)="ftweb()" style="position: sticky; margin-top: 25px;">test</button>
<!-- <button routerLink="/ftwebster">test</button> -->