<app-screen
  [imageName]="'main.JPG'"
  style="position: fixed;"
>
  <div class="d-flex">
      <app-item
      [child]="'users'"
      [parent]="''"
      [class]="'m-item'"
      ></app-item>
      <app-item
      [child]="'comm'"
      [parent]="''"
      [class]="'m-item'"
      ></app-item>
      <app-item
      [class]="'m-item nope'"
      ></app-item>
      <app-item
      [class]="'m-item nope'"
      ></app-item>
    </div>
    <div class="d-flex">
      <app-item
      [class]="'m-item nope'"
      ></app-item>
      <app-item
      [class]="'m-item nope'"
      ></app-item>
      <app-item
      [class]="'m-item nope'"
      ></app-item>
      <app-item
      [class]="'m-item nope'"
      ></app-item>
    </div>
</app-screen>
<!-- <a href="http://localhost:4200/ftwebster" target="_blank">test</a> -->
<button (click)="ftweb()" style="position: sticky; margin-top: 25px;">test</button>
<!-- <button routerLink="/ftwebster">test</button> -->

